/* Aligns links in the toolbar*/
div.indentation {
    float:left;
    height:1.7em;
    margin:-0.4em 0.2em -0.4em -0.4em;
    padding:0.42em 0 0.42em 0.6em;
    width:20px;
}

/* Hides the name of the Enterprise.*/
html.js .js-hide {
    display:none;
}
.element-hidden{display:none;}
#uw-footer {
    background:#000;
    padding:16px 20px;
    margin-top:10px;
    font-size:.9em;
    color:#fff;
    line-height:1.5em;
}

.comment h2.title{margin-bottom:1em;}.comment div.user-picture img{margin-left:0;}.comment{margin-bottom:20px;display:table;vertical-align:top;}.comment .attribution{display:table-cell;padding:0 30px 0 0;vertical-align:top;overflow:hidden;}.comment .attribution img{margin:0;border:1px solid #d3d7d9;}.comment .attribution .username{white-space:nowrap;}.comment .submitted p{margin:4px 0;font-size:1.071em;line-height:1.2;}.comment .submitted .comment-time{font-size:0.786em;color:#68696b;}.comment .submitted .comment-permalink{font-size:0.786em;text-transform:lowercase;}.comment .content{line-height:1.6;}.comment .comment-arrow{background:url(/profiles/uw_base_profile/themes/uw_core_theme/images/comment-arrow.png) no-repeat 0 center transparent;border-left:1px solid;border-right:1px solid;height:40px;margin-left:-47px;margin-top:10px;position:absolute;width:20px;}.comment .comment-arrow{border-color:#ffffff;}.comment .comment-text{border:1px solid #d3d7d9;padding:10px 25px;display:table-cell;vertical-align:top;position:relative;width:100%}.comment .indented{margin-left:40px;}.comment ul.links{padding:0 0 0.25em 0;}.comment ul.links li{padding:0 0.5em 0 0;}.comment-unpublished{margin-right:5px;padding:5px 2px 5px 5px;}.comment-unpublished .comment-text .comment-arrow{border-left:1px solid #fff4f4;border-right:1px solid #fff4f4;}.pager li.pager-previous a{width:60px;}
@font-face{font-family:'iconic';src:url(/profiles/uw_base_profile/themes/uw_core_theme/fonts/iconic.eot);src:url(/profiles/uw_base_profile/themes/uw_core_theme/fonts/iconic.eot?#iefix) format('embedded-opentype'),url(/profiles/uw_base_profile/themes/uw_core_theme/fonts/iconic.svg#iconic) format('svg'),url(/profiles/uw_base_profile/themes/uw_core_theme/fonts/iconic.woff) format('woff'),url(/profiles/uw_base_profile/themes/uw_core_theme/fonts/iconic.ttf) format('truetype');font-weight:normal;font-style:normal;}[data-icon]:before{font-family:'iconic';content:attr(data-icon);speak:none;font-weight:normal;line-height:1;-webkit-font-smoothing:antialiased;}[class^="icon-"]:before,[class*=" icon-"]:before{font-family:'iconic';font-style:normal;speak:none;font-weight:normal;line-height:1;-webkit-font-smoothing:antialiased;}.icon-play:before{content:"\e000";}.icon-pause:before{content:"\e001";}

/* Footer formatting 
#uw-footer a {
    color:#fff;
    text-decoration:none;
}
#uw-footer a:hover {
    text-decoration:underline;
}
#uw-footer-address a:hover {
    text-decoration:none;
}
#uw-footer-address {
    float:left;
    width:165px;
    margin-right:-5px;
}
#uw-footer-address span[property="v:postal-code"] {
    white-space:nowrap;
}
#uw-footer .global-menu {
    list-style:none;
    float:left;
    margin:0 0 0 64px;
    padding:0;
}
#uw-footer .global-menu li {
    padding:0;
    margin:0;
}
#uw-footer .global-menu li:before {
    content:'\00bb  ';
    color:#da1;
}
#uw-footer .social-media li:before {
    content:'';
}
#uw-footer .social-media li a {
    margin-left:6px;
    display:block;
    width:111px;
    height:53px;
    border:solid 1px #000;
    text-indent:-999em;
    overflow:hidden;
    background:url(https://uwaterloo.ca/profiles/uw_base_profile/modules/features/uw_nav_global_footer/images/social-media-directory-2x.png) no-repeat left top;
}
@media only screen and(-webkit-min-device-pixel-ratio:2), only screen and(min-resolution:2dppx) {
    #uw-footer .social-media li a {
        background:url(https://uwaterloo.ca/profiles/uw_base_profile/modules/features/uw_nav_global_footer/images/social-media-directory-2x.png) no-repeat left top;
        background-size:111px 53px;
    }
} */
