/* Aligns links in the toolbar*/
div.indentation {
    float:left;
    height:1.7em;
    margin:-0.4em 0.2em -0.4em -0.4em;
    padding:0.42em 0 0.42em 0.6em;
    width:20px;
}

/* Hides the name of the Enterprise.*/
html.js .js-hide {
    display:none;
}
.element-hidden{display:none;}
#uw-footer {
    background:#000;
    padding:16px 20px;
    margin-top:10px;
    font-size:.9em;
    color:#fff;
    line-height:1.5em;
}

html{font-size:100%;}body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,img,form,label,iframe,fieldset{margin:0;padding:0;font-size:1em;line-height:inherit;font-weight:inherit;border:none;}input,select,textarea,button{font-size:1em;line-height:inherit;font-family:inherit;margin:0;}optgroup{font-family:inherit;}input[type=button],input[type=submit],button{overflow:visible;}input[disabled],select[disabled],textarea[disabled],button[disabled]{opacity:0.75;height:26px;}#skip{position:absolute;z-index:1000;left:37.5em;width:8.5em;text-align:center;background:#fff;}#skip a{display:block;margin:8px;}#uw-search{position:absolute;top:20px;right:10px;}#uw-search-label{font-size:.9em;display:inline;}#uw-search-label.js{position:relative;color:#000;background-color:#fff;}#uw-search-term{border:solid 1px #fff;padding:2px;}.chevron-submit{width:18px;height:18px;overflow:hidden;text-indent:-999em;line-height:0;border:none;background:url(/profiles/uw_base_profile/themes/uw_core_theme/images/search-arrows.png) no-repeat -18px 0;color:#fff;cursor:pointer;}@media
only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-resolution:2dppx){.chevron-submit{background:url(/profiles/uw_base_profile/themes/uw_core_theme/images/search-arrows-2x.png) no-repeat -18px 0;background-size:54px 18px;}}#uw-search-submit:focus{background-position:0 0;}li.logout{display:none;}dl > dt{font-weight:bold;margin-left:1em;margin-top:1em;}dl > dd{margin-left:3em;margin-bottom:1em;}div.field-type-text-with-summary,div.form-item.webform-component{clear:both;}.rteindent1{margin-left:2em;}.rteindent2{margin-left:4em;}.rteindent3{margin-left:6em;}.rteindent4{margin-left:8em;}img.image-left{float:left;margin:0 1em 1em 0;}img.image-right{float:right;margin:0 0 1em 1em;}img.image-center{display:block;margin:auto;}ul.circle{list-style-type:circle;}ul.disc{list-style-type:disc;}ul.square{list-style-type:square;}ol.lower-roman{list-style-type:lower-roman;}ol.upper-roman{list-style-type:upper-roman;}ol.lower-alpha{list-style-type:lower-alpha;}ol.upper-alpha{list-style-type:upper-alpha;}ol.decimal{list-style-type:decimal;}.page-search .search-form{margin-bottom:2em;}.search-results{margin:0;}.search-results li{list-style:none;}.search-result{border-bottom:1px solid #ccc;padding:1em 0;}.search-results h3{margin:0;}.results_url{margin-bottom:.5em;}.results_url a:link,.results_url a:visited{color:#555;text-decoration:none;}.search-results .search-snippet-info{padding:0;}.page-search .pager{padding:1em 0;}.page-search .pager a{display:inline-block;font-weight:bold;}.page-search .pager a:link{text-decoration:none;color:#03f;}.page-search .pager a:visited{text-decoration:none;color:#306;}.page-search .pager-current{background-color:#923;color:#fff;}#ie6message{position:fixed;top:0;left:0;right:0;padding:1em;background-color:#c00;color:white;font-size:120%;font-weight:bold;text-align:center;}#ie6message a:link,#ie6message a:visited{color:#00f;}.view .date-nav-wrapper .date-prev{left:27em;}div#calendar_block{width:200px}.checkmark-replace{background:url(/profiles/uw_base_profile/themes/uw_core_theme/images/checkmark.png) no-repeat scroll left top transparent;min-height:25px;min-width:25px;text-indent:-999em;}


/* Footer formatting 
#uw-footer a {
    color:#fff;
    text-decoration:none;
}
#uw-footer a:hover {
    text-decoration:underline;
}
#uw-footer-address a:hover {
    text-decoration:none;
}
#uw-footer-address {
    float:left;
    width:165px;
    margin-right:-5px;
}
#uw-footer-address span[property="v:postal-code"] {
    white-space:nowrap;
}
#uw-footer .global-menu {
    list-style:none;
    float:left;
    margin:0 0 0 64px;
    padding:0;
}
#uw-footer .global-menu li {
    padding:0;
    margin:0;
}
#uw-footer .global-menu li:before {
    content:'\00bb  ';
    color:#da1;
}
#uw-footer .social-media li:before {
    content:'';
}
#uw-footer .social-media li a {
    margin-left:6px;
    display:block;
    width:111px;
    height:53px;
    border:solid 1px #000;
    text-indent:-999em;
    overflow:hidden;
    background:url(https://uwaterloo.ca/profiles/uw_base_profile/modules/features/uw_nav_global_footer/images/social-media-directory-2x.png) no-repeat left top;
}
@media only screen and(-webkit-min-device-pixel-ratio:2), only screen and(min-resolution:2dppx) {
    #uw-footer .social-media li a {
        background:url(https://uwaterloo.ca/profiles/uw_base_profile/modules/features/uw_nav_global_footer/images/social-media-directory-2x.png) no-repeat left top;
        background-size:111px 53px;
    }
} */
