html {
    font-size:100%;
}
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, img, form, label, iframe, fieldset {
    margin:0;
    padding:0;
    font-size:1em;
    line-height:inherit;
    font-weight:inherit;
    border:none;
}
input, select, textarea, button {
    font-size:1em;
    line-height:inherit;
    font-family:inherit;
    margin:0;
}
optgroup {
    font-family:inherit;
}
input[type=button], input[type=submit], button {
    overflow:visible;
}
input[disabled], select[disabled], textarea[disabled], button[disabled] {
    opacity:0.75;
    height:26px;
}
#skip {
    position:absolute;
    z-index:1000;
    left:37.5em;
    width:8.5em;
    text-align:center;
    background:#fff;
}
#skip a {
    display:block;
    margin:8px;
}

[data-icon]:before {
    font-family:'iconic';
    content:attr(data-icon);
    speak:none;
    font-weight:normal;
    line-height:1;
    -webkit-font-smoothing:antialiased;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family:'iconic';
    font-style:normal;
    speak:none;
    font-weight:normal;
    line-height:1;
    -webkit-font-smoothing:antialiased;
}
.icon-play:before {
    content:"\e000";
}
.icon-pause:before {
    content:"\e001";
}
body {
    margin:0 auto;
    min-width:100%;
    font-family:arial, helvetica, sans-serif;
    font-size:.75em;
}
p {
    margin-bottom:1em;
}
a, a:visited {
    color:#923;
}
a:hover, a:focus {
    color:#03f;
}
.content ul, .content ol {
    margin:0 0 2em 2em;
}
.content li {
    margin:0 0 1em;
}
h1 {
    background:#FCD450;
    padding:6px 20px;
    font-size:2em;
    text-transform:uppercase;
}
h2 {
    font-size:1.8em;
    margin:0 0 20px;
}
h3 {
    font-size:1.3em;
    margin:1em 0;
}
h4 {
    font-size:1.2em;
    margin:1em 0;
    font-weight:bold;
}
.columns-wrapper {
    margin:0;
    overflow:hidden;
}
.columns-wrapper.three .column {
    float:left;
    width:18.3em;
    min-width:220px;
    max-width:31%;
    margin-left:10px;
    padding-left:10px;
}
.columns-wrapper.two .column {
    float:left;
    width:28.3em;
    min-width:340px;
    max-width:48%;
    margin-left:20px;
}
.columns-wrapper .column:first-child {
    margin-left:0;
    border-left:none;
    padding-left:0;
}
.toplinks {
    width:220px;
    margin:20px 20px 0;
    float:right;
}
